In [1]:
#install the connector library

%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\a\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\a\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#import the connector
import mysql.connector

#create the connection object and cursor object
from mysql.connector import Error



connection = mysql.connector.connect(host='HOSTNAME',
                                         database='DBNAME',
                                         user='USERNAME',
                                     password='PASSWORD')
if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

else: 
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  5.5.5-10.4.25-MariaDB
You're connected to database:  ('amina',)

In [3]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CODE CHAR(2))"

#Now fill in the name of the method and execute the statement
createStmt = cursor.execute(createQuery)

In [4]:
#Construct the query - replace ... with the insert statement
insertQuery = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"
selectQuery = "select * from INSTRUCTOR"


#execute the insert statement
insertStmt = cursor.execute(insertQuery)
connection.commit()
selectStmt = cursor.execute(selectQuery)
cursor.fetchall()

[(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')]

In [5]:
#replace ... with the insert statement that inerts the remaining two rows of data
insertQuery2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

#execute the statement
insertStmt2 = cursor.execute(insertQuery2)
connection.commit()
selectStmt = cursor.execute(selectQuery)
cursor.fetchall()

[(1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
 (2, 'Raul', 'Chong', 'Markham', 'CA'),
 (3, 'Hima', 'Vasudevan', 'Chicago', 'US')]

In [6]:
#Enter your code below
updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='Rav'"
updateStmt = cursor.execute(updateQuery)
connection.commit()

In [7]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#Execute the statement
selectStmt = cursor.execute(selectQuery)


#Fetch the Dictionary (for the first row only) - replace ... with your code
cursor.fetchall()

[(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA'),
 (2, 'Raul', 'Chong', 'Markham', 'CA'),
 (3, 'Hima', 'Vasudevan', 'Chicago', 'US')]

In [8]:
import pandas

pdf = pandas.read_sql(selectQuery, connection)
pdf

C:\Users\A\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   ID FNAME      LNAME       CITY CODE
0   1   Rav      Ahuja  MOOSETOWN   CA
1   2  Raul      Chong    Markham   CA
2   3  Hima  Vasudevan    Chicago   US

In [9]:
pdf.shape

(3, 5)

In [10]:
cursor.close()
connection.close()
print("MySQL connection is closed")

MySQL connection is closed